:root {
  --fade-start: rgb(240, 240, 240);
  --fade-end: rgb(255, 255, 255);
  --theme: linear-gradient(to right, var(--fade-end), var(--fade-end));
}

.material-icons.md-48 { font-size: 32px; }

html {
  background-image: var(--theme);
}

body {
  background-color: rgba(255, 255, 255, 0);
}

.pointer {
  cursor: pointer;
}

/* .panel {
  min-height: 20vh;
} */

.part-panel {
  border-style: solid none solid none;
  border-width: 1px
}

.page-title {
  font-size: 2rem;
}

.panel-title {
  font-size: 1.5rem;
}

.text-detail {
  font-size: 0.9em;
}

.meter {
  background-image: linear-gradient(to right, green, rgb(41, 128, 0), rgb(255, 230, 0), red);
}

.meter-mask {
  background-color: white;
  height: inherit;
  margin-left: auto;
}


.outline-grey {
  outline: 1px solid rgb(233, 233, 233);
}

.bbb-button {
  background-color: gray;
  color: white;
  border-color: gray;
  border-radius: 50%;
  border-width: 4px;
  height: 2.4rem;
  width: 2.4rem;
}

.bbb-button:hover {
  background-color: gray;
  border-color: var(--gray-dark);
}

.bbb-button:active, .bbb-button:focus  {
  background-color: white !important;
  border-color: var(--silver) !important;
  color: var(--fade-start) !important;
}


.modal-wrapper {
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}


.modal-body {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-height:80%;
  min-height: 50%;
  overflow: auto;
}

.modal-style {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  
}

.dropdown > button {
  width: 100%
}