:root {
  --fade-start: rgb(240, 240, 240);
  --fade-end: rgb(255, 255, 255);
  --modal-bg-col: 240, 240, 240;
  --theme: linear-gradient(to right, var(--fade-end), var(--fade-end));
}

.material-icons.md-48 { font-size: 32px; }

html {
  background-image: var(--theme);
}

body {
  background-color: rgba(255, 255, 255, 0);
}

.pointer {
  cursor: pointer;
}

.tooltip-icon {
  color: gray;
  padding-left: 0.2rem;
  cursor: pointer;
}

.custom-form-group {
  background-color: rgb(243, 243, 243);
  border: 1px solid gray;
  border-radius: 1rem; 
  padding: 0.5rem 0rem 1.5rem 0rem 
}

.part-panel {
  border-style: solid none solid none;
  border-width: 1px
}

.page-title {
  font-size: 2rem;
}

.panel-title {
  font-size: 1.5rem;
}

.part-detail {
  border: 1px rgb(209, 209, 209) solid;
  border-radius: 0.2rem;
  padding: 0.7rem 0.2rem;
}

.text-detail {
  font-size: 0.9em;
  padding-left: 2rem;
}

.meter {
  background-image: linear-gradient(to right, green, rgb(41, 128, 0), rgb(255, 230, 0), red);
  min-width: 5rem;
}

.meter-mask {
  background-color: white;
  height: inherit;
  margin-left: auto;
}


.outline-grey {
  outline: 1px solid rgb(233, 233, 233);
}

.bbb-button {
  background-color: gray;
  color: white;
  border-color: gray;
  border-radius: 50%;
  border-width: 4px;
  height: 2.4rem;
  width: 2.4rem;
}

.bbb-button:hover {
  background-color: gray;
  border-color: var(--gray-dark);
}

.bbb-button:active, .bbb-button:focus  {
  background-color: white !important;
  border-color: var(--silver) !important;
  color: var(--fade-start) !important;
}


.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.7);
  align-items: center;
  z-index: 900;
}


.modal-body {
  position: absolute;
  max-height:90%;
  background-color: rgb(var(--modal-bg-col));
  color: rgb(0, 0, 0);
  border-radius: 1rem;
  padding: 3rem 3rem 4rem 3rem;
  overflow: auto;
}

.scroll-more {
  position: absolute;
  background-image: linear-gradient(rgba(var(--modal-bg-col), 0), rgb(var(--modal-bg-col)));
  bottom: 0px;
  left: 0px;
  height: 4rem;
  width: 100%;
  pointer-events: none;
}

.dropdown > button {
  width: 100%
}

.dropdown-menu.show {
  max-height: 10.1rem;
  overflow: auto;
}

.btn:disabled {
  cursor: default;
}

/* form */
.input-err {
  border: 1px solid var(--color-error);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 1.2em 1.2em;
  background-position: right 0.5em center;
  padding-right: 1.6rem;

}

.err-msg {
  color: var(--color-error);
  font-size: 0.8rem;
}